body {
  position: relative;
}

.login-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  z-index: 999;
  top: 100px;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  width: 600px;
  margin: auto 10px 10px 0;
  padding: 5px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.md-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#defaultForm-email {
  width: 85%;
}

.no-modal {
  display: none;
}

.hideModal {
  display: none;
}

.modal-title {
  color: #209ea6;
}

.modal-backdrop {
  display: none;
}

/* .Login-modal {
  display: none;
} */

.emailIcon {
  margin-left: -3%;
  color: gray;
}
.otptagline {
  font-size: 21px;
  text-align: left;
  font-weight: bold;
  margin-top: 15px !important;
}

@media (max-width: 602px) {
  .login-modal {
    width: 100%;
    /* height: max-content; */
    top: 90px;
    overflow: auto;
  }
  .modal-content {
    width: 350px !important;
    height: 380px;
    padding: 0;
    margin: auto auto;
  }
  #defaultForm {
    width: 100% !important;
    margin-bottom: 15px;
    font-size: 15px;
    align-items: center;
  }

  .emailIcon {
    margin-left: -15% !important;
  }
  .otptagline {
    font-size: 16px;
    /* margin-top: 15px !important; */
  }
}
