body {
  position: relative;
}

.login-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: auto;
  z-index: 999;
  padding-top: 70px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  width: 550px;
  margin: auto;
  padding: 5px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.md-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#defaultForm-email {
  width: 85%;
}

.no-modal {
  display: none;
}

.hideModal {
  display: none;
}

.modal-backdrop {
  display: none;
}

/* .Login-modal {
  display: none;
} */
