.Contactus {
  width: 100%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  color: rgba(0,0,0,.5);
}
.Contactus .Contactus-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Contactus .Contactus-content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.Contactus-content .left-side::before {
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.Contactus-content .left-side .details {
  margin: 14px;
  text-align: center;
}
.Contactus-content .left-side .details i {
  font-size: 30px;
  color:  #209EA6;
  margin-bottom: 10px;
}
.Contactus-content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}
.Contactus-content .left-side .details .text-one,
.Contactus-content .left-side .details .text-two {
  font-size: 14px;
  color: #afafb6;
}
.Contactus .Contactus-content .right-side {
  width: 75%;
  margin-left: 75px;
}
.Contactus-content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color:  #209EA6;
}
.right-side .Contactus-input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .Contactus-input-box input,
.right-side .Contactus-input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #f0f1f8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box {
  min-height: 110px;
}
.right-side .Contactus-input-box textarea {
  padding-top: 6px;
}
.right-side .Contactus-button {
  display: inline-block;
  margin-top: 12px;
}
.right-side .Contactus-button input[type='button'] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background:  #209EA6;
  cursor: pointer;
  transition: all 0.3s ease;
}
.Contactus-button input[type='button']:hover {
  background: #209EA6;
}

@media (max-width: 950px) {
  .Contactus {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }
  .Contactus .Contactus-content .right-side {
    width: 75%;
    margin-left: 55px;
  }
}
@media (max-width: 820px) {
  .Contactus {
    margin: 40px 0;
    height: 100%;
  }
  .Contactus .Contactus-content {
    flex-direction: column-reverse;
  }
  .Contactus .Contactus-content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .Contactus .Contactus-content .left-side::before {
    display: none;
  }
  .Contactus .Contactus-content .right-side {
    width: 100%;
    margin-left: 0;
  }
}
