ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
body {
  position: absolute;
}

.Navbar {
  width: 100%;
  height: fit-content;
  position: fixed !important; /* Set the navbar to fixed position */
  top: 0 !important;
  /* left: 0; */
  z-index: 999;
}
.navbar-brand {
  margin-left: 100px;
}
.navbar-brand img {
  margin: auto auto;
  width: 245px;
  height: auto;
}
.navbar-nav {
  margin-left: 200px;
}
.nav-link {
  color: #757878;
  font-size: 15px !important;
  font-weight: bold;

  margin: auto 20px;
  scroll-behavior: smooth;
}

.dropdown-item {
  scroll-behavior: smooth;
}
.buttons {
  width: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 15px;
}

.btn {
  padding: 14px 24px;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin: 5px 1px;
  margin-left: 30px;
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  background-color: #209ea6;
}
@media only screen and (min-width: 1000px) and (min-width: 1800px) {
  .right-btn {
    position: absolute;
    right: 30px;
    top: 30px;
  }
}
@media only screen and (max-width: 600px) {
  .navbar {
    min-height: 15%;
    height: auto;
  }
  .navbar-nav {
    /* margin: 5px auto; */
    margin-top: 60px;
    margin-right: 90px !important;
  }
  li {
    align-items: left;
  }
  .fixed-right {
    position: absolute !important;
    right: 10px !important;
    top: 20px !important;
  }

  .navbar-brand img {
    position: absolute;
    top: 5px;
    left: 0;
    width: 160px;
    height: 80px;
  }
  .btn {
    width: 250px;
    height: 50px;
    font-size: 11px;
    margin-left: 70px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 500px) {
  .navbar-nav {
    margin-left: 160px !important;
  }
}
@media only screen and (max-width: 430px) {
  .navbar-nav {
    margin-left: 130px !important;
  }
}

@media only screen and (max-width: 350px) {
  .navbar-nav {
    margin-left: 110px !important;
  }
}
