@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
body {
  position: relative;
}

.Navbar {
  width: 100%;
  height: fit-content;
  position: fixed !important; /* Set the navbar to fixed position */
  top: 0 !important;
  left: 0;
  z-index: 999;
}
.navbar-brand {
  margin-left: 100px;
}
.navbar-brand img {
  margin: auto auto;
  width: 245px;
  height: auto;
}
.navbar-nav {
  margin-left: 200px;
}
.nav-link {
  color: black !important;
  font-size: 23px !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: auto 20px;
}
.buttons {
  width: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 15px;
}

.btn {
  padding: 14px 24px;
  font-family: 'freight-sans-pro', sans-serif !important;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin: 5px 1px;
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  background-color: #0eb3a9;
}
