.Aboutus {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Aboutus-background-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
}
.bg-1 {
  flex: 1;
  background-color: rgb(32, 158, 166);
}
.bg-2 {
  flex: 1;
  background-color: rgb(32, 158, 166);
}
.about-container {
  width: 100%;
  min-height: 80vh;
  position: absolute;
  background-color: white;
  box-shadow: 24px 24px 30px #6d8dad;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  border-radius: 5px;
}
.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container img {
  width: 500px;
  height: 500px;
  margin: 20px;
  border-radius: 10px;
}
.Aboutus-text-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.5);
}
.Aboutus-text-container h1 {
  font-size: 70px;
  padding: 20px 0px;
}
.Aboutus-text-container a {
  text-decoration: none;
  padding: 12px;
  margin: 50px 0px;
  background-color: rebeccapurple;
  border: 2px solid transparent;
  color: white;
  border-radius: 5px;
  transition: 0.3s all ease;
}
.Aboutus-text-container a:hover {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.5);
  border: 2px solid rebeccapurple;
}
@media screen and (max-width: 1600px) {
  .about-container {
    width: 90%;
  }
  .image-container img {
    width: 400px;
    height: 400px;
  }
  .Aboutus-text-container h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 1100px) {
  .about-container {
    flex-direction: column;
  }
  .image-container img {
    width: 300px;
    height: 300px;
  }
  .Aboutus-text-container {
    align-items: center;
  }
}

@media screen and (max-width: 700px) {
  .Aboutus {
    margin-top: 150px;
  }
  .about-container {
    box-shadow: 14px 14px 14px 14px #6d8dad;
  }
}
@media screen and (max-width: 350px) {
  .Aboutus {
    margin-top: 180px;
  }
}
