.Mid-Section {
  width: 100%;
  height: fit-content;
  margin: 50px auto;
  overflow-x: hidden;
}

.upper-section {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.upper-section h1 {
  color: #757878;
  font-weight: 300;
}
.box-images {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}
.active-img {
  border: 2px solid gold;
  border-radius: 50%;
}
.box-images img {
  width: 150px;
  height: 150px;
  margin: auto 20px;
}
.box-section {
  width: 40%;
  text-align: center;
}
.box-section-heading {
  text-align: center;
  font-size: 2em;
  text-align: center;
  font-family: 'freight-sans-pro', sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  color: #757878;
  letter-spacing: 0.05rem;
}
.box-section-para {
  text-align: center;
  width: 600px;
  font-family: 'Noto Sans', sans-serif;
  margin: 10px auto;
  font-weight: 400;
  text-align: inherit;
  font-weight: 400;
  letter-spacing: 0.15;
  line-height: 35px;
  margin-bottom: 25px;
  font-size: 1em;
  color: #565858;
}

.active-box {
  display: block;
}
.mid-section {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin: 80px auto !important ;
}
.left-mid {
  width: 40%;
}
.divider-line {
  height: auto;
  width: 2px;
  background-color: #565858;
}
.right-mid {
  width: 40%;
}
.left-mid img,
.right-mid img {
  height: 100px;
}
.left-mid p,
.right-mid p {
  width: 100%;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  text-align: inherit;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 25px;
  font-size: 1em;
  color: #565858;
}
.left-mid a,
.right-mid a {
  font-family: 'Noto Sans', sans-serif;
  color: #0eb3a9;
  text-decoration: none;
  font-size: 0.7rem;
  font-weight: bold;
  margin: 10px auto;
  text-align: center;
}

.parallex-box {
  width: 100%;
  height: fit-content;
}

.parallax {
  background-image: url('../../../public/images/banner.jpeg');
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-line {
  width: 100%;
  height: auto;
  padding: 1rem;
  background-color: #0eb3a9;
  display: flex;
  justify-content: space-evenly;
  color: white;
}
.parallax-line button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  height: 50px;
  padding: 10px;
  margin: auto 0;
}
.bottom-section {
  width: 100%;
  display: flex;
  height: fit-content;
  margin-top: 60px;
}
.section-slider {
  width: 50%;
  height: 400px;
  position: relative;
}
.slide-container {
  position: absolute;
  top: 30px;
  width: 70%;
  height: auto;
  right: 20%;
  left: 15%;
  transition: all 0.3s ease-in-out;
}
.slide-container h3 {
  font-size: 1.7rem;
  letter-spacing: 0.05em;
  border-bottom: 2.5px solid #f8d872;
  color: #0eb3a9;
  margin-bottom: 15px;
}

.testimonial {
  margin: 20px auto;
  text-align: center;
  padding: 10px 40px;
  color: #757878;
  font: 400;
  line-height: 30px;
  transition: 0.3s linear ease-in;
}
.sourceWords {
  color: #757878;
}

.btns {
  position: absolute;
  top: 175px;
  background: transparent;
  color: #757878;

  padding: 0.25rem 0.35rem;
  border-radius: 0.25rem;
  border: transparent;
  cursor: pointer;
  font-size: 1.7rem;
}
.next-btn {
  right: 3rem;
}
.prev-btn {
  left: 3rem;
}

.bottom-form {
  width: 50%;
  height: 400px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-image: linear-gradient(
      to bottom,
      rgba(150, 150, 150, 0.5),
      rgba(0, 0, 255, 0.5)
    ),
    url('../../../public/images/pool.jpeg');

  box-shadow: 0 0 2px 2px #282a2d;
}
.bottom-form h3 {
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
  font-size: 2em;
  font-style: normal;
  margin: 5px auto;
  margin-top: 10px;
}
.bottom-form p {
  color: white;
  font-family: 'Noto Sans', sans-serif;
  text-align: inherit;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 15px;
  font-size: 1.2em;
}

.bottom-form input {
  display: block;
  margin: 15px auto;
  width: 50%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.bottom-form button {
  line-height: 34px;
  padding: 0 25px;
  margin-top: 10px;
  background-color: white;
  border: 2px solid white;
  color: #337ab7;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (max-width: 1200px) {
  .upper-section h1 {
    font-size: 1.5rem;
  }
  .box-images {
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
  }
  .active-img {
    border: 2px solid gold;
    border-radius: 50%;
  }
  .box-images img {
    width: 120px;
    height: 120px;
    margin: auto 15px;
  }
  .box-section {
    width: 90%;
    text-align: center;
  }
  .box-section-heading {
    text-align: center;
    font-size: 1.7em;
    text-align: center;
    font-family: 'freight-sans-pro', sans-serif;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    color: #757878;
    letter-spacing: 0.05rem;
  }
  .box-section-para {
    text-align: center;
    width: 600px;
    font-family: 'Noto Sans', sans-serif;
    margin: 10px auto;
    font-weight: 400;
    text-align: inherit;
    font-weight: 400;
    letter-spacing: 0.15;
    line-height: 35px;
    margin-bottom: 25px;
    font-size: 0.9em;
    color: #565858;
  }
}
@media screen and (max-width: 780px) {
  .upper-section h1 {
    font-size: 1.3rem;
  }
  .box-images {
    display: flex;
    justify-content: space-between;
    margin: 12px auto;
  }
  .active-img {
    border: 2px solid gold;
    border-radius: 50%;
  }
  .box-images img {
    width: 80px;
    height: 80px;
    margin: auto 10px;
  }
  .box-section {
    width: 100%;
    height: auto;
    line-break: auto;
    text-align: center;
  }
  .box-section-heading {
    text-align: center;
    font-size: 1.4em;
    text-align: center;
    font-family: 'freight-sans-pro', sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color: #757878;
    letter-spacing: 0.05rem;
  }
  .box-section-para {
    width: 80%;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    text-align: inherit;
    font-weight: 400;
    letter-spacing: 0.15;
    line-height: 35px;
    margin-bottom: 25px;
    font-size: 0.85em;
    margin: 10px auto;
    color: #565858;
    text-align: center;
  }
  .mid-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 40px auto !important ;
  }
  .left-mid {
    width: 100%;
    margin: 0px auto;
    margin-bottom: 30px;
  }
  .divider-line {
    display: none;
  }
  .right-mid {
    width: 100%;
    margin: 30px auto;
  }
  .left-mid img,
  .right-mid img {
    height: 100px;
  }
  .left-mid p,
  .right-mid p {
    width: 85%;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    text-align: inherit;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 25px;
    font-size: 0.85em;
    text-align: center;
    margin: 20px auto;
    color: #565858;
  }
  .left-mid a,
  .right-mid a {
    font-family: 'Noto Sans', sans-serif;
    color: #0eb3a9;
    text-decoration: none;
    font-size: 0.7rem;
    font-weight: bold;
    margin: 5px auto;
    text-align: center;
  }
  .parallax-line {
    width: 100%;
    height: auto;
    padding: 0.2rem;
    background-color: #0eb3a9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
  }
  .parallax-line h3 {
    margin: 10px auto;
  }
  .parallax-line p {
    margin: 10px auto;
  }
  .parallax-line button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    height: 35px;
    padding: 8px;
    margin: 10px auto;
  }
  .bottom-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-top: 30px;
    justify-content: space-between;
    position: relative;
  }
  .section-slider {
    width: 100%;
    height: fit-content;
    position: static;
  }
  .slide-container {
    position: static;
    /* top: 30px; */
    width: 100%;
    height: auto;
    /* right: 20%; */
    /* left: 15%; */
    transition: all 0.3s ease-in-out;
  }
  .slide-container h3 {
    font-size: 1.5rem;
    letter-spacing: 0.05em;
    border-bottom: 2.5px solid #f8d872;
    color: #0eb3a9;
    margin-bottom: 15px;
  }

  .testimonial {
    margin: 15px auto;
    text-align: center;
    padding: 10px 40px;
    color: #757878;
    font: 400;
    line-height: 30px;
    transition: 0.3s linear ease-in;
  }
  .sourceWords {
    color: #757878;
  }

  .btns {
    position: absolute;
    top: 145px;
    background: transparent;
    color: #757878;

    padding: 0.25rem 0.35rem;
    border-radius: 0.25rem;
    border: transparent;
    cursor: pointer;
    font-size: 1.3rem;
  }
  .next-btn {
    right: 0.6rem;
  }
  .prev-btn {
    left: 0.6rem;
  }

  .bottom-form {
    width: 100%;
    height: fit-content;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px auto;
    background-image: linear-gradient(
        to bottom,
        rgba(150, 150, 150, 0.5),
        rgba(0, 0, 255, 0.5)
      ),
      url('../../../public/images/pool.jpeg');

    box-shadow: 0 0 2px 2px #282a2d;
  }
}

@media screen and (max-width: 1200px) {
  .bottom-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-top: 30px;
    justify-content: space-between;
    position: relative;
  }
  .section-slider {
    width: 100%;
    height: fit-content;
    position: static;
  }
  .slide-container {
    position: static;
    /* top: 30px; */
    width: 100%;
    height: auto;
    /* right: 20%; */
    /* left: 15%; */
    transition: all 0.3s ease-in-out;
  }
  .slide-container h3 {
    font-size: 1.8rem;
    letter-spacing: 0.05em;
    border-bottom: 2.5px solid #f8d872;
    color: #0eb3a9;
    margin-bottom: 15px;
  }

  .testimonial {
    margin: 15px auto;
    text-align: center;
    padding: 10px 40px;
    color: #757878;
    font: 400;
    line-height: 30px;
    transition: 0.3s linear ease-in;
  }
  .sourceWords {
    color: #757878;
  }

  .btns {
    position: absolute;
    top: 145px;
    background: transparent;
    color: #757878;

    padding: 0.25rem 0.35rem;
    border-radius: 0.25rem;
    border: transparent;
    cursor: pointer;
    font-size: 1.3rem;
  }
  .next-btn {
    right: 0.6rem;
  }
  .prev-btn {
    left: 0.6rem;
  }

  .bottom-form {
    width: 100%;
    height: fit-content;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px auto;
    background-image: linear-gradient(
        to bottom,
        rgba(150, 150, 150, 0.5),
        rgba(0, 0, 255, 0.5)
      ),
      url('../../../public/images/pool.jpeg');

    box-shadow: 0 0 2px 2px #282a2d;
  }
}

@media screen and (max-width: 600px) {
  .slide-container h3 {
    font-size: 1.3rem;
    letter-spacing: 0.05em;
    border-bottom: 2.5px solid #f8d872;
    color: #0eb3a9;
    margin-bottom: 15px;
  }
  .btns {
    position: absolute;
    top: 235px;
    background: transparent;
    color: #757878;

    padding: 0.25rem 0.35rem;
    border-radius: 0.25rem;
    border: transparent;
    cursor: pointer;
    font-size: 1.3rem;
  }
  .next-btn {
    right: 0.4rem;
  }
  .prev-btn {
    left: 0.4rem;
  }
}
